.maindiv{
    height: 80vh;
}

.appdiv{
    width: 94vw !important;
}

.leftSideBar{
    position: relative !important;
}

.listHeight{
    height: 75vh;
    overflow-y: scroll;
}

.pageDiv{
    margin-left: 42vw !important;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}