.mainCartDiv{
    height: 40em;
}

.cartTable {
    width: 70% !important;
    margin-left: 14% !important;
}

.qtySpan {
    margin: 10px !important;
}

.cartTopDiv{
    width: 70% !important;
    height: 5em !important;
    margin-left: 14% !important;
}

.totalLabel{
    padding-left: 39%;
    margin-top: 5% !important;
    font-weight: 800;
    color: #f30965;
    font-size:20px;    
}

.incCart, .decCart {
    background-color: #f30965 !important;
}

.cartButton, .orderButton, .cartRemoveButton {
    color: white !important;
    background-color: #f30965 !important;
}

.starColor{
    color: #f30965;
    font-size: 1.5em
}

.colorContainer{
    display:'flex';
    flex-direction:'row';
}